certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.2
Django==2.2.24
django-cors-headers==2.1.0
django-filter==1.1.0
djangorestframework==3.7.3
gunicorn==19.7.1
idna==2.6
jsonfield==2.0.2
Markdown==2.6.10
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
whitenoise==3.3.1
